.earnPage {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  position: relative;
  margin-top: 20px;
}
.earnSection {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  position: relative;
  gap: 10px;

  background: #212324;

  border: 1px solid;

  border-image-source: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 2.78%,
    #767041 50.42%,
    rgba(102, 102, 102, 0) 100%
  );
  border-image-slice: 1;

  padding: 20px 0;

  width: 90%;
}
.earnSection h1 {
  font-family: "Le Major", "Forum";
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  text-transform: capitalize;

  color: #d7b877;
  margin: 0;
}
.earnSection h2 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  text-transform: capitalize;

  color: #d7b877;
  margin: 0;
}
.earnSection p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 190%;
  letter-spacing: -0.6%;
  text-align: center;

  color: #5e5e5e;
}

.quest {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}
.questContent {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-left: 10px;
  align-items: center;
  gap: 10px;
}
.questInfo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 5px;

  padding: 0 10px;
}
.questInfo h3 {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  margin: 0;
}
.questInfo p {
  margin: 0;
}
.questButton {
  margin-right: 10px;

  border-radius: 30px;
  margin: 5px 10px;

  background: linear-gradient(360deg, #f1d781 -1.72%, #5c5231 98.28%),
    linear-gradient(355.58deg, #f9d663 11.33%, #b48d0a 94.62%),
    radial-gradient(
      52.53% 99.05% at 47.47% 101.69%,
      #ffffff 0%,
      rgba(147, 125, 36, 0) 100%
    );

  border: 1px solid #f9d663;
}
.questIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.questIcon img {
  width: 24;
  height: 24;
}
