.earnPage {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  position: relative;
  margin-top: 20px;
}
.earnPanel {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  position: relative;
  gap: 10px;

  background: #212324;

  border: 1px solid;

  border-image-source: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 2.78%,
    #767041 50.42%,
    rgba(102, 102, 102, 0) 100%
  );
  border-image-slice: 1;

  padding: 20px 10px;

  width: 90%;
}
.earnSection h1 {
  font-family: "Le Major", "Forum";
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  text-transform: capitalize;

  color: #d7b877;
  margin: 0;
}
.earnSection h2 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  text-transform: capitalize;

  color: #d7b877;
  margin: 0;
}
.earnSection p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 190%;
  letter-spacing: -0.6%;
  text-align: center;

  color: #5e5e5e;
}
.questsList {
  width: 90%;
  position: relative;
}
