.header {
  padding: 10px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 720px;

  z-index: 1000;
}
.headerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.profile {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.profilePicture {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: linear-gradient(
    90deg,
    #fff09a 2.78%,
    #767041 50.42%,
    #fff09a 100%
  );

  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 10px;

  cursor: pointer;
}
.profilePicture img {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.logo {
  flex: 3;
  position: relative;
}
.logo img {
  width: 240px;
}
.headerRow2 {
  justify-content: center;
}
.balance {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  background: linear-gradient(360deg, #f1d781 -1.72%, #5c5231 98.28%),
    linear-gradient(355.58deg, #f9d663 11.33%, #ffe99f 94.62%),
    radial-gradient(
      52.53% 99.05% at 47.47% 101.69%,
      #ffffff 0%,
      rgba(147, 125, 36, 0) 100%
    );

  padding: 2px 5px;
  border-radius: 20px;
}
.balanceImg {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.balanceImg img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.balanceText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;

  font-family: "Inter";
  font-weight: 400;
  font-size: 8px;
  line-height: 100%;

  color: #d09921;
}
.balanceAmount {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 10px;
  line-height: 100%;

  color: #8e6200;
  text-align: left;
}
.profileModal {
  position: absolute;
  width: 90%;
  height: 70%;

  background: #212324;
  bottom: 0;
  border-radius: 15px 15px 0 0;

  display: none;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;

  z-index: 100;
}
.profileModal::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);

  width: 70px;
  height: 2px;
  border-radius: 2px;

  background-color: #ffe09d;
  z-index: 110;
}
.profileModal h1 {
  font-family: "Le Major";
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  text-transform: capitalize;

  color: #d7b877;
}
.profileModal .avatar {
  width: 70px;
  height: 70px;

  background: linear-gradient(
    90deg,
    #fff09a 2.78%,
    #767041 50.42%,
    #fff09a 100%
  );

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.profileModal .avatar img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
.profileModal h2 {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;

  color: #d7b877;
}
.profileModalRank {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.profileModalRank p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;

  color: #5e5e5e;
}
.profileModalRank h3 {
  position: relative;
  font-family: "Le Major";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  line-height: 35px;
  width: 100px;

  margin-top: 0;

  color: #ffffffcc;

  background: #2d2d2d;
  clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
}
.profileModalRank h3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 10;
}
.profileModalRank h3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 80%;

  background: radial-gradient(
    44.95% 84.76% at 50% -1.68%,
    #857830 0%,
    rgba(147, 125, 36, 0) 100%
  );

  z-index: 10;
}
.seaCount {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;

  color: #5e5e5e;
}
.tillNext {
  font-family: "Inter";
  font-weight: 400;
  font-size: 11px;
  line-height: 100%;
  text-align: center;

  margin-top: 10px;

  color: #ffffff;
}
.isOpen {
  display: flex !important;
}
