.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  position: relative;
}

.game-container {
  width: 100%;

  max-width: 720px; /* Ограничиваем максимальную ширину */
  aspect-ratio: 9 / 16; /* Сохраняем пропорции 9:16 */
  max-height: 500px; /* Ограничиваем высоту с учетом хедера и навигации */
}
