#root {
  max-width: 720px;
  width: 100%;
  min-width: 325px;
  margin: 0 auto;
  text-align: center;

  overflow: hidden;
}
.app {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100vh;

  color: white;
  font-family: Arial, sans-serif;
  overflow: hidden;
}
.game-bg {
  background: url("./assets/img/bgPlaceholder.gif") center center;
  background-size: cover;
}
.default-bg {
  background: #1e1e1e;
}
